.navbar .navbar-brand span,
.carousel i,
.features .feat:hover i,
.features .feat:hover h4,
.prices .price-box:hover p,
.testimonials .carousel-item span,
.our-team .team .member a:hover,
.footer p span,
.footer a:hover,
.about span {
    color: #07d44b;
}

.navbar-nav .show>.nav-link,
.navbar-nav .nav-link.active,
.stats .data .row .branch:hover,
.carousel .carousel-indicators button.active,
.color-change i,
#scroll-button {
    background-color: #07d44b;
}

.prices .price-box:hover p,
.color-change .change {
    border: 2px solid #07d44b;
}